---
import Resources from '@/components/blog/resources/index.astro';
import Shell from '@/components/Shell.astro';
import type { NoteWithAuthors } from '@/lib/collections';
import Time from '../ui/time.astro';

interface Props {
  note: NoteWithAuthors;
  class?: string;
}

const { note, class: className = '' } = Astro.props;
---

<header class:list={['py-8', className]}>
  <Shell type="article">
    <div class="rounded-xl border bg-card/40 p-6">
      <div class="space-y-2">
        <div class="space-y-4">
          <h1 class="text-4xl font-bold tracking-tight">{note.data.title}</h1>
          {
            note.data.description && (
              <p class="text-xl text-muted-foreground">{note.data.description}</p>
            )
          }
        </div>

        <div class="flex items-center gap-4 text-sm text-muted-foreground">
          <div class="flex items-center gap-2">
            <Time date={note.data.published_date} />
            <span>•</span>
            <span>{note.readingTime}</span>
          </div>
        </div>

        {note.data.resources && <Resources resources={note.data.resources} />}
      </div>
    </div>
  </Shell>
</header>
