---
import Resources from '@/components/blog/resources/index.astro';
import SharingBadges from '@/components/blog/sharing-badges.astro';
import Shell from '@/components/Shell.astro';
import { resolveResourceValue } from '@/configs/resources';
import type { NoteWithAuthors } from '@/lib/collections';
import Time from '../ui/time.astro';

interface Props {
  note: NoteWithAuthors;
  class?: string;
}

const { note, class: className = '' } = Astro.props;
const resources = note.data.resources.map((r) => ({
  ...r,
  value: resolveResourceValue(r.value, { collection: 'note', entryId: note.id }),
}));
---

<header class:list={['py-8', className]}>
  <Shell type="article">
    <div class="bg-card/40 rounded-xl border p-6">
      <div class="space-y-2">
        <div class="space-y-4">
          <h1 class="text-4xl font-bold tracking-tight">{note.data.title}</h1>
          {
            note.data.description && (
              <p class="text-muted-foreground text-xl">{note.data.description}</p>
            )
          }
        </div>

        <div class="text-muted-foreground flex items-center gap-4 text-sm">
          <div class="flex items-center gap-2">
            <Time date={note.data.published_date} />
            <span>•</span>
            <span>{note.readingTime}</span>
          </div>
        </div>

        <div class="flex w-full items-center gap-6">
          <div class="flex flex-col gap-3 text-start">
            {
              note.data.resources && (
                <>
                  <span class="text-muted-foreground text-sm font-medium">Resources</span>
                  <Resources resources={resources} />
                </>
              )
            }
          </div>
          <div class="flex flex-col gap-3 text-start">
            <span class="text-muted-foreground text-sm font-medium">Share on</span>
            <SharingBadges post={note} />
          </div>
        </div>
      </div>
    </div>
  </Shell>
</header>
