---
import BlogCard from '@/components/blog/card/index.astro';
import CategoryBadge from '@/components/blog/category-badge.astro';
import TagBadge from '@/components/blog/tag-badge.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getPublishedBlogPosts } from '@/lib/collections';

// export const prerender = true;

// Get all published blog posts
const posts = (await getPublishedBlogPosts()).sort(
  (a, b) => b.data.published_date.valueOf() - a.data.published_date.valueOf()
);

// Get unique categories and tags
const categories = [...new Set(posts.flatMap(post => post.data.categories))];
const tags = [...new Set(posts.flatMap(post => post.data.tags))];

const title = 'Blog';
const description =
  'Explore my thoughts and insights on AI, machine learning, and software development.';
---

<BaseLayout title={title} description={description}>
  <main class="container mx-auto px-4 py-12 md:py-24">
    <div class="grid gap-12 lg:grid-cols-[1fr_16rem]">
      <!-- Blog Posts Grid -->
      <section class="space-y-12">
        <h1 class="text-4xl font-bold">Latest Posts</h1>
        <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-1">
          {posts.map(post => <BlogCard post={post} layout={'horizontal'} />)}
        </div>
      </section>

      <!-- Sidebar -->
      <aside class="space-y-8">
        <!-- Categories -->
        <div class="space-y-4">
          <h2 class="text-xl font-semibold">Categories</h2>
          <ul class="space-y-2">
            {
              categories.map(category => (
                <li>
                  <CategoryBadge category={category} />
                </li>
              ))
            }
          </ul>
        </div>

        <!-- Tags -->
        <div class="space-y-4">
          <h2 class="text-xl font-semibold">Tags</h2>
          <div class="flex flex-wrap gap-2">
            {tags.map(tag => <TagBadge tag={tag} />)}
          </div>
        </div>
      </aside>
    </div>
  </main>
</BaseLayout>
