---
import type { Resource } from '@/configs/resources';
import { ResourceBadge } from './resource-badge';

interface Props {
  resources: Resource[];
}

const { resources } = Astro.props;
---

{
  resources.length > 0 && (
    <div class="flex flex-wrap items-start justify-start gap-3">
      {resources.map((resource) => (
        // @ts-ignore
        <ResourceBadge
          client:visible
          type={resource.type}
          provider={resource.provider}
          title={resource.title}
          value={resource.value}
          description={resource.description}
        />
      ))}
    </div>
  )
}
