---
import { getEntry } from 'astro:content';

import ProfileSection from '@/components/about/ProfileSection.astro';
import Timeline from '@/components/about/Timeline.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';

const author = await getEntry('author', 'romaingrx');
if (!author) {
  throw new Error('Author not found for owner of the website');
}
const { name, title, description, image, socialLinks } = author.data;

const pageTitle = 'About Me';
const pageDescription =
  'Learn more about my background, experience, and interests in AI and software development.';

const formattedSocialLinks = socialLinks.map(({ platform, url, icon }) => ({
  platform: platform as string,
  url,
  icon: icon ?? '',
}));
---

<BaseLayout title={pageTitle} description={pageDescription}>
  <main class="container mx-auto px-4 py-12 md:py-24">
    <div class="grid gap-12 md:gap-24">
      <!-- Profile Section -->
      <ProfileSection
        name={name}
        title={title ?? ''}
        description={description}
        image={image}
        socialLinks={formattedSocialLinks}
      />

      <!-- Timeline Section -->
      <section class="space-y-8">
        <h2 class="text-3xl font-bold">Experience & Education</h2>
        <Timeline items={[]} />
      </section>
    </div>
  </main>
</BaseLayout>
