---
import HeroSection from '@/components/home/HeroSection.astro';
import RecentNotes from '@/components/home/RecentNotes.astro';
import RecentPosts from '@/components/home/RecentPosts.astro';
import { site } from '@/configs/site';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getBlogPosts, getNotes } from '@/lib/collections';

const posts = (await getBlogPosts()).slice(0, 4);
const notes = (await getNotes()).slice(0, 5);
---

<BaseLayout title={site.title} description={site.description}>
  <HeroSection title={`Hi, I'm ${site.name}`} description={site.description} />
  <div class="mx-auto max-w-5xl px-4">
    <RecentPosts posts={posts} />
    <hr class="border-border/50 my-16" />
    <RecentNotes notes={notes} />
    <div class="pb-24"></div>
  </div>
</BaseLayout>
